<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Doctor Login", "DoctorLogin", "Doctor", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Query", "Query", "Query", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Admin", "Login", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <h1 class="text-center">Contact</h1>
                    <hr class="mt-2" />
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">

                        <a href="whatsapp://send?text=Hello World!&phone=8477060067"><img src="~/Images/Contact Icon/whatsapplogo.png" height="100" width="100" /></a>

                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <a href="tel:8477060067"><img src="~/Images/Contact Icon/call.png" height="100" width="100" /></a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <a href="sms:9528224303;?&body=Hello Mr.Shahrukh" title="Click here to TEXT US gallery token needs updating!"><img src="~/Images/Contact Icon/sms.jpg" height="100" width="100" /></a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <a href="mailto:shahrukh@gmail.com?subject=helloguys"><img src="~/Images/Contact Icon/email.png" height="100" width="100" /></a>
                    </div>
                </div>
            </div>
          
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*  <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
</body>
</html>
